<h1>Editing hintfragment</h1>

<%= render "form", hintfragment: @hintfragment %>

<br>

<div>
  <%= link_to "Show this hintfragment", @hintfragment %> |
  <%= link_to "Back to hintfragments", hintfragments_path %>
</div>
