<div id="<%= dom_id fragment %>">

  <p>
    <strong>Title:</strong>
    <%= fragment.title %>
  </p>
  <p>
    <strong>Dans le style de :</strong>
    <%= fragment.composer.name %>
  </p>

  <p>
    <strong>Content:</strong>
    <img src="<%= fragment.getpic %>" />
  </p>



</div>
