<p style="color: green"><%= notice %></p>

<h1>Fragments</h1>

<div id="fragments">
  <% @fragments.each do |fragment| %>
    <%= render fragment %>
    <p>
      <%= link_to "Show this fragment", fragment %>
    </p>
  <% end %>
</div>

<%= link_to "New fragment", new_fragment_path %>
